<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a785b4">  <td>20/05/19 14:57:52</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeTest()[pri:0, instance:com.NewTours.Testscripts.NewTest@55ca8de8]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1582071873</td>   <td></td> </tr>
<tr bgcolor="a785b4">  <td>20/05/19 14:58:06</td>   <td>13715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.Login()[pri:1, instance:com.NewTours.Testscripts.NewTest@55ca8de8]">Login</td> 
  <td>main@1582071873</td>   <td></td> </tr>
<tr bgcolor="a785b4">  <td>20/05/19 14:58:14</td>   <td>22016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.BookingFlight()[pri:2, instance:com.NewTours.Testscripts.NewTest@55ca8de8]">BookingFlight</td> 
  <td>main@1582071873</td>   <td></td> </tr>
<tr bgcolor="a785b4">  <td>20/05/19 14:58:20</td>   <td>27382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.ConfirmMessageCheck()[pri:3, instance:com.NewTours.Testscripts.NewTest@55ca8de8]">ConfirmMessageCheck</td> 
  <td>main@1582071873</td>   <td></td> </tr>
<tr bgcolor="a785b4">  <td>20/05/19 14:58:20</td>   <td>27726</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest.afterTest()[pri:0, instance:com.NewTours.Testscripts.NewTest@55ca8de8]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1582071873</td>   <td></td> </tr>
</table>
